body{
    margin: 0;
}

.stories{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.423);
}

.tags{
    background-color: aquamarine;
    padding: 12px;
    border-radius: 8px;
}

.tags-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button{
    padding: 12px 36px;
    border-radius: 8px;
    background-color: orange;
    border: none;
}

.form-container{
    padding: 12px 0;
    border-bottom: 2px solid rebeccapurple;
}

.form-container>input{
    padding: 6px;
    border-radius: 6px;
    margin-bottom: 8px;
}